<form id="loginForm" class="container mt-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email" required
           [(ngModel)]="this.loginRequest.email" name="email" (input)="checkFormValidity()">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password" required
           [(ngModel)]="this.loginRequest.password" name="password" (input)="checkFormValidity()">
  </div>
  <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="isButtonDisabled">Login</button>
  <div class="mt-3 text-center">
    <p>Not registered yet? <a href="/register" class="link-primary">Sign up here</a></p>
  </div>
</form>
