<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <app-slide-one class="custom-slide" id="slide_one"></app-slide-one>
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <app-slide-two class="custom-slide" id="slide_two"></app-slide-two>
          </div>
        </div>
        <button class="carousel-control-prev custom-control" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next custom-control" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
